<footer class="shadow-t-md">
  <div class="flex justify-center items-center gap-2 pb-5 pt-10">
    <div class="w-full bg-gray h-[2px]"></div>
    <img class="w-8" src="./assets/facebook.png" alt="Facebook Icon" />
    <img class="w-8 mx-2" src="./assets/twitch.png" alt="Twitch Icon" />
    <img class="w-8" src="./assets/youtube.png" alt="Youtube Icon" />
    <div class="w-full bg-gray h-[2px]"></div>
  </div>
  <div class="bg-[#273789] p-10 flex flex-col items-center">
    <img src="./assets/logo-big.png" alt="Logo" class="mb-10 w-3/4" />
    <p class="text-white text-tiny text-center">
      18+ | Spil ansvarligt | StopSpillet: 70 22 28 25 | ROFUS.nu Husk at
      pengespil kan være vanedannende, så spil ansvarligt. Hos EkstraPoint gør
      vi derfor en indsats for at opretholde og følge retningslinjer udstukket
      af den danske Spillemyndighed. Man skal være fyldt 18 både for at spille
      på EkstraPoint, og på alle casinosider der er repræsenteret herpå. Casino-
      og spilanmeldelser på vores side er som udgangspunkt kommercielt indhold.
      Regler og vilkår gælder. Spil ansvarligt. Selvudelukkelse via ROFUS.
      Kontakt Spillemyndighedens hjælpelinje på StopSpillet.dk
      <a href="https://www.spillemyndigheden.dk/"
        >https://www.spillemyndigheden.dk/</a
      >
    </p>
  </div>
</footer>
