<div class="px-8 pt-2 pb-8">
  <article
    class="rounded-lg bg-gradient-cyan-alt w-full h-[190px] px-4 pt-2 pb-4 flex justify-between"
  >
    <div class="flex flex-col">
      <h2 class="text-xl font-bold leading-5 mb-4">
        You're<br />almost there!
      </h2>
      <p>
        Finish your profile setup to<br />
        collect your reward!
      </p>
      <button-common text="Play" anchor="#" class="mt-auto"></button-common>
    </div>
    <div class="w-[140px] h-[140px] rounded-full my-auto grid">
      <img src="./assets/progress.svg" alt="Progress Bar" class="grid-area" />
      <p class="grid-area place-self-center text-2xl font-bold">75%</p>
    </div>
  </article>
</div>
