<div
  class="bg-gradient-blue text-[39px] font-bold text-white py-4 px-8 flex flex-col"
>
  <h2 class="leading-10">Here's a few<br />Picks for you</h2>
  <ul class="flex flex-col gap-y-3 my-5">
    <shop-item
      *ngFor="let shopItem of shopList"
      [shopItem]="shopItem"
      background="white"
    ></shop-item>
  </ul>
  <div class="mx-auto pb-3">
    <button-common
      [text]="'Go to EkstraPoints'"
      [anchor]="'#'"
      [width]="'15.625rem'"
      class="mx-auto"
    ></button-common>
  </div>
</div>
