<div class="bg-lightBlue">
  <header><navbar></navbar> <rewards></rewards></header>
  <main>
    <section class="px-8">
      <win-example></win-example>
      <game-biggest></game-biggest>
      <h3 class="text-[39px] font-bold mt-7 mb-5 leading-[2.75rem]">
        Sign up. <span class="text-gradient-orange">Play free.</span
        ><br />Biggest reward Site in the world
      </h3>
      <register-reward></register-reward>
      <offers></offers>
    </section>
    <section class="bg-white p-8">
      <tournaments></tournaments>
    </section>
    <section class="p-8">
      <welcome-offers></welcome-offers>
    </section>
  </main>
  <footerComponent></footerComponent>
</div>
