<article class="pl-8 overflow-hidden">
  <div class="flex gap-3">
    <div class="flex gap-3">
      <div class="bg-black w-[300px] h-4 rounded-full p-1 flex">
        <div class="bg-gradient-cyan w-1/2 h-full rounded-full"></div>
        <!-- Progress bar -->
        <div class="gift-step h-full w-[2px] mx-auto"></div>
      </div>
      <div class="relative">
        <div class="rounded-full w-4 h-4 bg-black p-1">
          <div class="bg-gradient-cyan w-full h-full rounded-full"></div>
        </div>
        <p
          class="font-bold text-sm absolute w-14 text-center top-4 left-[-20px]"
        >
          Reward at 40.000 XP
        </p>
      </div>
    </div>
    <div class="bg-black w-[300px] h-4 rounded-l-full p-1 flex"></div>
  </div>
  <p class="text-lg font-light">38.430 XP</p>
  <p class="text-base font-bold">Lvl. 12</p>
</article>
