<section
  class="flex justify-between items-center rounded h-12 bg-black px-3 my-2 mx-8"
>
  <h2 class="text-gradient-base font-bold text-lg">$52.526</h2>
  <p class="font-medium text-white text-base">In rewards the last 30 days!</p>
  <a href="#" class="flex items-center rounded gap-1 px-1 h-6 bg-gradient-cyan">
    <img src="./assets/person.svg" alt="person icon" class="Live-link_icon" />
    <p class="font-medium text-sm">1361</p>
    <p class="font-light text-sm relative live-dot">Live</p>
  </a>
</section>
