<div class="bg-white">
  <div class="px-8"><rewards></rewards></div>
  <exp-bar></exp-bar>
  <a href="#" class="underline text-[#BCC6D6] text-xl px-8">Your profile</a>
  <daily-updates></daily-updates>
  <profile-progress></profile-progress>
  <section class="bg-lightBlue py-4">
    <h2 class="text-black font-bold text-4xl mb-5 pl-8">
      Current<br />Tournaments
    </h2>
    <div class="px-8 pb-6 pt-2"><game-biggest></game-biggest></div>
    <tournaments></tournaments>
  </section>
  <picks></picks>
</div>
