<div
  class="bg-gradient-cyan fixed w-[100vw] h-[100vh] top-0 right-0 pt-10 pb-28 px-4 animate-fadeIn"
>
  <div
    class="bg-[url('./assets/login-banner.png')] bg-no-repeat bg-right-top bg-[length:40%] flex flex-col justify-between h-full"
  >
    <button
      class="flex items-center gap-4 text-[#339] font-medium absolute top-3 right-2"
      (click)="active.emit(false)"
    >
      Close
      <div class="flex bg-gray p-2 rounded-full w-9 h-9">
        <img src="./assets/close.svg" alt="Close Icon" />
      </div>
    </button>
    <div class="mt-4">
      <h2 class="text-[2rem] font-bold leading-9">Log in</h2>
      <p class="text-base">Are you ready to Win Free Prizes?</p>
    </div>
    <form
      action="#"
      class="text-center flex flex-col px-10 gap-y-6"
      (submit)="(false)"
    >
      <input
        type="text"
        placeholder="Your email"
        class="p-3 rounded-sm bg-gray placeholder:text-darkGray"
        required
      />
      <input
        type="text"
        placeholder="Password"
        class="p-3 rounded-sm bg-gray placeholder:text-darkGray"
        required
      />
      <a
        routerLink="/loggedin"
        (click)="active.emit(false)"
        class="bg-gradient-orange rounded-md shadow-md w-full h-9 flex justify-center items-center text-lg font-medium text-white"
      >
        Log In
      </a>
      <div>
        <p class="mb-4">Or continue with social login</p>
        <div class="flex justify-center gap-x-3">
          <a href="#" class="w-16 h-16 bg-gray flex rounded-full p-4"
            ><img src="./assets/social-icons/facebook.svg"
          /></a>
          <a href="#" class="w-16 h-16 bg-gray flex rounded-full p-4"
            ><img src="./assets/social-icons/google.svg"
          /></a>
        </div>
      </div>
      <div>
        <hr class="w-1/2 border-darkGray my-4 mx-auto" />
        <p class="my-1 text-[16px]">Don't remember your password?</p>
        <a href="#" class="text-[#339] hover:text-[#6c6ca7] text-[16px]"
          >Not a user yet? <span class="font-bold">Register here!</span></a
        >
        <hr class="w-1/2 border-darkGray my-4 mx-auto" />
      </div>
    </form>
  </div>
</div>
