<section class="px-8">
  <rewards></rewards>
  <win-example></win-example>
  <game-biggest></game-biggest>
  <h3 class="text-[39px] font-bold mt-7 mb-5 leading-[2.75rem]">
    Sign up. <span class="text-gradient-orange">Play free.</span><br />Biggest
    reward Site in the world
  </h3>
  <register-reward></register-reward>
  <offers></offers>
</section>
<section class="bg-white py-8">
  <h2 class="text-gradient-pink font-bold text-4xl mb-5 px-8">
    Current<br />Tournaments
  </h2>
  <tournaments></tournaments>
</section>
<section class="p-8">
  <welcome-offers></welcome-offers>
</section>
<section class="bg-white p-8">
  <shop></shop>
</section>
